*{
    color: #2ba4f2;
}

body{
    background-image: url('cool-background.png');
}

#loginpage{
    background-color: #ecf0f3;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px #fff;
    box-sizing: border-box;
    border-radius: 15px;
}

input[type=text], input[type=password] ,input[type=email] ,input[type=tel] ,#exampleFormControlTextarea1 {
    display: inline-block;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
    border-radius: 15px;
}


.loginbox{
    position: absolute;
}

#heading{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #2ba4f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::placeholder{
    color: #2ba4f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#newuser{
    color: #2ba4f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sub{
    background: #2ba4f2;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#signup{
    background-color: #ecf0f3;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px #fff;
    border-radius: 15px;
}

.main{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}