<div class="container-fluid text-center loginbox pt-4 pb-4" >
    <div class="row mt-5">
        <div [class]="col" ></div>
        <div [class]="col" id="loginpage">
            <div id="heading" class="text-center mt-5"><h3>{{heading}}</h3></div>
            <form class="pb-5">
                <div class="mb-3">
                  <input type="text"  id="userName" (keyup)="onInput($event)"   class="form-control" placeholder="{{email}}"   aria-describedby="emailHelp">
                  <p>{{ userName }}</p>
                </div>
                <div class="mb-3 mt-4">
                  <input id="password" type="password" (keyup)="onInput($event)" placeholder="{{pass}}" class="form-control" >
                  <p>{{ password }}</p>
                </div>
                <button type="submit"   [disabled]="isDisabled" (click)="onSubmit()" class="mt-5 mb-4 btn" id="sub">Submit</button>
            </form>
            <span id="newuser" class="mb-4">New user? <a href="signup.html" target="_blank">Click here</a> </span><br><br>
        </div>
        <div [class]="col"></div>
    </div>
</div>

