<div class="card h-100">
    <div class="card-header mt-4 text-center">Form example</div>
        <div class="card-body">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" #username />
              </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" #useremail />
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Phone" #userphone />
          </div>
          <div class="input-group mb-3 text-center">
            <button class="btn btn-primary btn-lg" (click)="onsubmit(username.value,useremail.value,userphone.value)">Submit</button>
          </div>
        </div>        
</div>