

<div class="main">
    <div class="form">
        <h2>Update Form</h2>
        <form action="#">
            <div class="input">
                <div class="inputbox">
                    <input type="text" name="Name" placeholder="Enter your Name">
                </div>
                <div class="inputbox">
                    <input type="email" name="mail" placeholder="Enter your Email">
                </div>
                <div class="inputbox">
                    <input type="text" name="phone" placeholder="Enter your Phone Number">
                </div>
                <div class="inputbox">
                    <input type="text" name="Type" placeholder="Enter your Contact Type">
                </div>
                <div class="inputbox">
                    <button type="submit" name="validation" id="signin">Update</button>
                </div>
            </div>
        </form>
    
    </div>
</div>